gradient-adk

langchain
langchain-core
langgraph
langchain-openai
fastembed

httpx

fastapi[standard]
uvicorn[standard]
python-multipart
pydantic
pydantic-settings

# PDF parsing
pdfplumber
pytesseract
Pillow
pdf2image

faiss-cpu
numpy

gradient-adk
python-dotenv
boto3 
tiktoken
langdetect
python-dotenv
# sentence-transformers
# torch