fastapi[standard]
uvicorn[standard]
python-multipart
pydantic
pydantic-settings

# PDF parsing
pdfplumber
pytesseract
Pillow

faiss-cpu
numpy

gradientai

python-dotenv
boto3 
tiktoken
langdetect
python-decouple
pdf2image